<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/gen.css">
    <link rel="stylesheet" href="styles/allgoals.css">
    <title>GlowPath</title>
</head>
<body>
    <header>
        <h1>GLOWPATH</h1>
    </header>

    <main>
        <img src="./assets/profilepic.png" alt="foto van vrouw">
        <h2>Phyllis</h2>
        <h3>@SAIDMISAH</h3>

        <a href="/NewGoal">
            <button>Make A New Goal 
                <img src="./assets/add.svg" alt="voeg toe">
            </button>
        </a>

        <!-- start of list goals! not dynamic ;/ statisch voor nu, dynamisch '/goal' -->
        <ul>
            <li>
                <a href="#">
                    <img src="./assets/allgaols.png" alt="">
                    <p>All Goals</p>
                </a>
            </li>

            <li>
                <a href="/goal">
                    <div>
                        <img class="A" src="./assets/S-A.png" alt="">
                        <img class="B" src="./assets/S-B.png" alt="">
                        <img class="C" src="./assets/S-C.png" alt="">
                    </div>
                    <p>September 🍒</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <div>
                        <img class="A" src="./assets/A-A.png" alt="">
                        <img class="B" src="./assets/A-B.png" alt="">
                        <img class="C" src="./assets/A-C.png" alt="">
                    </div>
                    <p>August</p>
                </a>
            </li>

            <li>
                <a href="#">
                    <div>
                        <img class="A" src="./assets/J-AA.png" alt="">
                        <img class="B" src="./assets/J-BB.png" alt="">
                        <img class="C" src="./assets/J-CC.png" alt="">
                    </div>
                    <p>July</p>
                </a>
            </li>
        </ul>
    </main>
</body>
</html>