<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/gen.css">
    <link rel="stylesheet" href="styles/home.css">
    <title>GlowPath</title>
</head>
<body>
<header>
    <h1>GLOWPATH</h1>
</header>

<main>
    <h2>Welcome to <span>glowpath</span>,</h2>
    <p>Get ready to hustle, dream big, and build the life you want. Let’s make it happen! ✨</p>
    <!-- action button to the next page -->
    <a href="/allgoals">
        <button>Get Started  
            <img src="./assets/arrow.svg" alt="knop volgende">
        </button>
    </a>
</main>

</body>
</html>