<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/gen.css">
    <link rel="stylesheet" href="/styles/newgoal.css">
    <title>GlowPath
    </title>
</head>

<body>
    <header>
        <h1>GLOWPATH</h1>
    </header>

    <main>
        <% goals.forEach(function(goals) { %>
            <div class="cover">
                <img id="one" src="/assets/addnewpicBig.png" alt="add a picture">
                <img id="two" src="/assets/addpicSmall.png" alt="add a picture">
                <img id="three" src="/assets/addpicSmall.png" alt="add a picture">
            </div>

            <!-- starting form, making a new goal -->
            <form action="/newgoal" method="post" id="titelnewgoal">
                <label id="nonvisable" for="title">Goal Name:</label>
                <input type="text" id="title" placeholder="[give your new goal a name..]">

                <input type="submit" value="SAVE">
            </form>

            <div class="pf">
                <img src="/assets/profilepic.png" alt="profielfoto">
                <p class="datum"><%= goals.datum %></p>
            </div>

            <!-- form inladen -->
            
            <div class="form"><%- include('./partials/form') %></div>
            
        <% }) %>
    </main>
</body>
</html>