<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/gen.css">
    <link rel="stylesheet" href="/styles/newgoal.css">
    <title>GlowPath</title>
</head>

<body>
    <header>
        <h1>GLOWPATH</h1>
    </header>

    <main>
        <section class="cover">
            <img id="one" src="/assets/addnewpicBig.png" alt="add a picture">
            <img id="two" src="/assets/addpicSmall.png" alt="add a picture">
            <img id="three" src="/assets/addpicSmall.png" alt="add a picture">
        </section>

        <form action="/newgoal" method="post" id="titelnewgoal">
            <label id="nonvisable" for="title">Goal Name:</label>
            <input type="text" id="title" name="titel" placeholder="[give your new goal a name..]" required>
            <input type="submit" value="SAVE">
        </form>

        <% if (goals && goals.length > 0) { %>
            <section class="pf">
                <img src="/assets/profilepic.png" alt="profielfoto">
                <% goals.forEach(function(goal) { %>
                    <p class="datum"><%= goal.titel %></p>
                <% }) %>
            </section>
        <% } else { %>
            <p>No goals found.</p>
        <% } %>

        <!-- Include other parts if necessary -->
        <section><%- include('./partials/form') %></section>
    </main>
</body>
</html>