<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/gen.css">
    <link rel="stylesheet" href="/styles/newgoal.css">
    <title>GlowPath
    </title>
</head>

<body>
    <header>
        <h1>GLOWPATH</h1>
    </header>

    <main>
        <section class="cover">
            <img id="one" src="/assets/addnewpicBig.png" alt="add a picture">
            <img id="two" src="/assets/addpicSmall.png" alt="add a picture">
            <img id="three" src="/assets/addpicSmall.png" alt="add a picture">
        </section>

        <form action="/newgoal" method="post" id="titelnewgoal">
            <label id="nonvisable" for="title">Goal Name:</label>
            <input type="text" id="title" name="title" placeholder="[give your new goal a name..]">
            <input type="submit" value="SAVE">
        </form>

        <section class="pf">
            <img src="/assets/profilepic.png" alt="profielfoto">
            <% goals.forEach(function(goals) { %>
                <p class="datum"><%= goals.datum %></p>
            <% }) %>
        </section>

        <section><%- include('./partials/form') %></section>

        <!-- checking lengte van de array, kijken wat het probleem was van het meerdere keren weergeven form -->
        <!-- <pre><%= JSON.stringify(goals, null, 2) %></pre> -->

    </main>
</body>
</html>