@font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'griffiths';
    src: url('/fonts/griffiths.otf') format('opentype');
}

@font-face {
    font-family: 'Bethany-Elingston';
    src: url('/fonts/bethany/BethanyElingston.otf') format('opentype');
}

body{
    font-family: 'poppins-regular', sans-serif;
}

.cover{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .2em;
    margin: 0;
}


.pf{
    display: flex;
    flex-direction: row;
    gap: .5em;
    justify-content: left;

    margin: .5em;
    margin-left: 0;
}

.pf p{
    margin: auto;
    font-size: 10px;
    margin-left: 0;

}

.pf img{
    width: 10vw;
    height: fit-content;
   
}