@font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'griffiths';
    src: url('/fonts/griffiths.otf') format('opentype');
}

@font-face {
    font-family: 'Bethany-Elingston';
    src: url('/fonts/bethany/BethanyElingston.otf') format('opentype');
}

body{
    font-family: 'poppins-regular', sans-serif;
}

.cover{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .2em;
    margin: 0;
}


.pf{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: .5em;
    justify-content: left;

    & img{
        max-width: 21;
        max-height: 21;
        padding-top: .5em;
    }
}