body{
    background-image: url('/assets/achtergrond-glowpath.png'); 
    background-image: image-set(
        url('/assets/achtergrond-glowpath.avif') type('image/avif'),
        url('/assets/achtergrond-glowpath.webp') type('image/webp')
    );

    color: white;
    text-align: center;
    margin: 1em;
}

main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5em;
}

h1{
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 18px;
}

h2{
    font-family: 'griffiths', sans-serif;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

span{
    font-family:'Bethany-Elingston', sans-serif ;
}

a{
    & button{
        font-family:  'griffiths', sans-serif ;
        background-color: white;
        padding: 1em;
        padding-left: 3em;
        padding-right: 3em;
        border-radius: 2em;
        font-size: 18px;
        text-decoration: none;
        margin-top: .5em;

        display: flex;
        flex-direction: row;
        gap: 1em;
    }
}


/* 3) CSS en Clientside scripting voor Usable and pleasurable */
/* ANIMATIE typewriter */
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; 
    white-space: wrap; 
    letter-spacing: 0; 
    animation: 
        typing 3.5s steps(50, end),
        blink-caret .75s step-end 7;
}

/* The typing effect */
@keyframes typing {
  from { width: 10% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: white; }
}

